{% extends 'base.html.twig' %}


{% block body %}


	<section class="light-content our-team">
	
		<section class="light-content our-team">

			<div class="font-poppins">
				<div class="wrapper wrapper--w780">
					<div class="card card-3">
						<div class="card-heading"></div>
						<div class="card-body">
							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										Bonjour
										{{ app.user.firstname }},
										<a href="{{ path('app_logout') }}">Deconnexion</a>
									</div>
								{% endif %}
								<div class="input-group">
									<input class="input--style-3" type="email" value="{{ last_username }}" id="inputEmail" placeholder="Email *" name="email">
								</div>
								<div class="input-group">
									<input class="input--style-3" type="password" id="inputPassword" placeholder="Mot de passe *" name="password">
								</div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="btn-login">
									<div class="p-t-10">
										<button class="large-button white-color" type="submit">Valider</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


			</section>
			<!-- /.our-team -->

		{% endblock %}
