{% extends 'basedashboard.html.twig' %}

{% block body %}

				<section class="light-content our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">TABLEAU DE BORD</h2> 
					{% if families is defined %}
					<div class="form-group">
						<select class="custom-select" id="selectType">
					{% for family in families %}
							{% if family.children is defined %}
							{% for child in family.children %}
							<option value="{{child.id}}">{{child.firstname}}</option>
							{% endfor %}
							{% endif %}
					{% endfor %}
						</select>
					{% endif %}
					</div>  
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div> 
		<!-- /.container -->
		<div class="team-members">
			<div class="container">
				<div class="row">

					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}

					<div class="col-md-6 col-sm-4 ">
						<div class="team-member">
							<div class="thumb-post">
								<img id="selectedChildHealthEvent_img" src="{{ asset('assets/images/sante.jpg') }}" alt="">
							</div>
							<div class="member-content">
								<h4 class="member-name">Santé</h4>
								<h6>Dernier événement dans Santé<span id="selectedChildHealthEvent"></span></br></h6>
								<p id="selectedChildHealthEvent_name">
								</p>
							</div>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col-md-4 -->

					<div class="col-md-6 col-sm-4 center-block">
						<div class="team-member">
							<div class="thumb-post">
								<img id="selectedChildSchoolEvent_img" src="{{ asset('assets/images/sante.jpg') }}" alt="">
							</div>
							<div class="member-content">
								<h4 class="member-name">Vie Scolaire</h4>
								<h6>Dernier événement dans Santé<span id="selectedChildSchoolEvent_lastPost"></span></h6>
								<p id="selectedChildSchoolEvent_name">
								</p>
							</div>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col-md-4 -->
				</div>
				<!-- /.row -->
				<div class="row">

					<div class="col-md-6 col-sm-4 center-block">
						<div class="team-member">
							<div class="thumb-post">
								<img src="assets/images/includes/member3.jpg" alt="">
							</div>
							<div class="member-content">
								<h4 class="member-name">Galerie Photo</h4>
								<p>Duis vitae consequat neque. Nulla pharetra eleifend nulla.
								</p>
							</div>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col-md-4 -->

					<div class="col-md-6 col-sm-4 center-block">
						<div class="team-member">
							<div class="thumb-post">
								<img src="assets/images/includes/member4.jpg" alt="">
							</div>
							<div class="member-content">
								<h4 class="member-name">Calendrier</h4>
								<p>
								</p>
							</div>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col-md-4 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /.team-members -->
	</section>
	<!-- /.our-team -->


{% endblock %}