{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block stylesheets %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/inscriptionstyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block body %}
    
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Inscription</label> 

        {{ form_start(register) }}
        {{ form_row(register.lastname) }}
        {{ form_row(register.firstname) }}
        {{ form_row(register.birthdate) }}
        {{ form_row(register.role) }}
        {{ form_row(register.email) }}
        {{ form_row(register.password) }}
        {{ form_row(register.invitation_code)}}
        {{ form_row(register.agreeTerms) }} 
        


    <div class="btn-register" >
        <button class="btn-register-v" type="submit" class="btn btn-light">S'enregistrer</button>
         
        
        <button class="btn-register-v" type="button" class="btn btn-light"><a href="{{path('home')}}">Retour</a></button>
        
    </div>
    {{ form_end(register) }} 
        {% block javascripts %} {% endblock %}
        {% endblock %}