{% extends 'base.html.twig' %}

{% block body %}
		<section class="light-content our-team">
			<div class="font-poppins">
				<div class="wrapper wrapper--w780">
					<div class="card card-3">
						<div class="card-heading"></div>
						<div class="card-body">
							{{ form_start(register) }}
                            {{ form_row(register.lastname) }}
                            {{ form_row(register.firstname) }}
							{{ form_row(register.birthdate) }}
							{{ form_row(register.role) }}
							{% for message in app.flashes('danger') %}
								<div class="alert alert-danger">
									{{ message }}
								</div>
							{% endfor %}
							{{ form_row(register.email) }}
							{{ form_row(register.password) }}
							{{ form_row(register.agreeTerms) }}

							<div class="p-t-10">
								<button class="large-button white-color" type="submit">Valider</button>

							</div>

						</div>
					</div>
				</div>
				{{ form_end(register) }}


			</section>
			<!-- /.our-team -->
			{% block javascripts %}{% endblock %}
			<script>
				$(document).ready(function () {
$(".js-datepicker").datepicker({
viewMode: "years",
weekStart: 1,
daysOfWeekHighlighted: "6,0",
autoclose: true,
todayHighlight: true,
startDate: '-30y',
endDate: '+0d',
format: 'dd/MM/yyyy'
});

$('.js-datepicker').datepicker("setDate", new Date());
});
			</script>


		{% endblock %}
