{% extends 'base.html.twig' %}

{% block body %}


		<section class="light-content our-team">

			<div class="font-poppins">
				<div class="wrapper wrapper--w780">
					<div class="card card-3">
						<div class="card-heading"></div>
						<div class="card-body">
							{{ form_start(register) }}
                            {{ form_row(register.lastname, { 'attr': {'class': 'input--style-3'}}) }}
                            {{ form_row(register.firstname, { 'attr': {'class': 'input--style-3'}}) }}
							{{ form_row(register.birthdate) }}
							{{ form_row(register.role) }}
							{{ form_widget(register.email, {'attr': {'pattern': '^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$'}}) }}
							{{ form_row(register.password, { 'attr': {'class': 'input--style-3'}}) }}
							{{ form_row(register.agreeTerms) }}

							<div class="p-t-10">
								<button class="large-button white-color" type="submit">Valider</button>

							</div>

						</div>
					</div>
				</div>
				{{ form_end(register) }}


			</section>
			<!-- /.our-team -->
			{% block javascripts %}{% endblock %}
			<script>
				$(document).ready(function () {
$(".js-datepicker").datepicker({
viewMode: "years",
weekStart: 1,
daysOfWeekHighlighted: "6,0",
autoclose: true,
todayHighlight: true,
startDate: '-30y',
endDate: '+0d',
format: 'dd/MM/yyyy'
});

$('.js-datepicker').datepicker("setDate", new Date());
});
			</script>


		{% endblock %}
