{% extends 'basedashboard.html.twig' %}

{% block title %}His Life
{% endblock %}

{% block stylesheets %}
	
	
	

{% endblock %}
{% block body %}
  <main>
	<h1>
		Ajouter un Enfant
	</h1>

	{{ form_start(form) }}
	{{ form_row(form.lastname) }}
	{{ form_row(form.firstname) }}
	{{ form_row(form.gender) }}
	{{ form_row(form.birthdate) }}
	{{ form_row(form.picture) }}
	{{ form_row(form.families)}}
	
	<a href="{{ path('child_profile') }}" >{{ form_row(form.submit)}}</a>	
	
	{{ form_end(form) }}
	</main>
	{% block javascripts %}{% endblock %}

{% endblock %}
