{% extends 'basedashboard.html.twig' %}


{% block body %}
 
	<section class="light-content our-team">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Profil Enfant</h2>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		<div class="font-poppinsdeux">
			<div class="wrapper wrapper--w780">
				<div class="card card-10">
					<div class="card-heading"></div>
                    <div class="card-body">
                    <h2 class="title">Ajout d'un Enfant </h2>
						{{ form_start(form) }}
						{{ form_row(form.lastname, { 'attr': {'class': 'input--style-3'}}) }}
						{{ form_row(form.firstname, { 'attr': {'class': 'input--style-3'}}) }}
						{{ form_row(form.gender, { 'attr': {'class': 'input--style-3'}}) }}
						{{ form_row(form.birthdate) }}
						{{ form_row(form.picture) }}
						{{ form_row(form.families) }}
						
						<div class="p-t-10">
							<button class="large-button white-color" type="submit">Valider</button>

						</div>

					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</section>

		{% block javascripts %}{% endblock %}

			<script>
				$(document).ready(function () {
$(".js-datepicker").datepicker({
viewMode: "years",
weekStart: 1,
daysOfWeekHighlighted: "6,0",
autoclose: true,
todayHighlight: true,
startDate: '-30y',
endDate: '+0d',
format: 'dd/MM/yyyy'
});

$('.js-datepicker').datepicker("setDate", new Date());
});
			</script>

{% endblock %}
