{% extends 'basedashboard.html.twig' %}


{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<section class="light-content our-team">


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Mes familles</h2>
						<a href="{{ path('family_create') }}" class="large-button green-color">Ajouter</a>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		{% for family in families %}
			<div class="photo-card">
				{% if family.picture is not null %}
				 <a href="{{ path('family_read', {'id': family.id }) }}"><img src="{{ asset(family.picture) }}" alt="images"></a>
				{% else %}
				<a href="{{ path('family_read', {'id': family.id }) }}">
				<img src="{{ asset('assets/images/kid.jpg') }}"alt="images"></a>
				{% endif %}
				<div class="photo-details ">
					<h1 class="title">{{ family.name }}</h1>
				</br>
				<div class="p-t-10">
					<a class="photo-background" href="{{ path('family_edit', {'id': family.id}) }}" class="large-button-blanc white-color">
						<button class="large-button-blanc white-color" type="submit">Modifier</button>
					</a>


				</div>
			</div>

		</div>
	{% endfor %}


</section>





{% endblock %}