{# {% extends 'basedashboard.html.twig' %}


{% block body %}

<h1>Mon compte</h1>

<dl class="row">
    <dt class="col-3">Prénom d'utilisateur</dt>
    <dd class="col-9">{{ people.firstname }}</dd>
    <dt class="col-3">Adresse e-mail</dt>
    <dd class="col-9">{{ people.email }}</dd>
   
    <dt class="col-12">Liste de familles</dt>
    {% for family in people.families %}
    <dd class="col-3"> {{ family }} </li> </dd>
    <dt class="col-2">Lien d'invitation :</dt>
    <dd class="col-7">www.localhost:8080/register?token={{ family.token }}</dd> 
    {% endfor %}
    <dt class="col-12">Liste des enfants</dt>
    {% for family in people.families %}
    {% for child in family.children %}
    <dd class="col-3"> {{ child }} </dd>
    {% endfor %}
    {% endfor %}

</dl>
    <td><a href="{{path('people_edit')}}" class="btn btn-primary ">Modifier mes informations personnelles</a></td>


	<div class="card-btn">
          {{ include('people/_delete_form.html.twig')}}
        </div>


{% endblock %} #}


{% extends 'basedashboard.html.twig' %}


{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<section class="light-content our-team">


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Mon Profil</h2>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		
			<div class="photo-card">
            
				{% if people.picture is not null %}
				 <div class="photo-background" style="background-image:url('{{ asset(family.picture) }}'); "></div>
				{% else %}
                <div class="photo-background" style="background-image:url('{{ asset('assets/images/famillebase.jpg') }}'); "></div>
			    {% endif %} 
				<div class="photo-details ">
					<h1 class="title">Prénom: {{ people.firstname }}</h1>
                    <h1 class="title">Email: {{ people.email }}</h1>
				</br>
				<h1>Mes familles:</h1>
				{% for family in people.families %}
					<h1>{{ family }}</h1>
					 {% endfor %}
				<div class="p-t-10">
					<a class="photo-background" href="{{ path('people_edit', {'id': people.id}) }}" class="large-button-blanc white-color">
						<button class="large-button-blanc white-color" type="submit">Modifier</button>
					</a>


				</div>
			</div>

		</div>
	


</section>





{% endblock %}
