{% extends 'basedashboard.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1>Mon compte</h1>

<dl class="row">
    <dt class="col-3">Prénom d'utilisateur</dt>
    <dd class="col-9">{{ people.firstname }}</dd>
    <dt class="col-3">Adresse e-mail</dt>
    <dd class="col-9">{{ people.email }}</dd>
   
    <dt class="col-3">Liste de familles</dt>
    {% for family in people.families %}
    <dd class="col-9"> {{ family }} </li> </dd>
    <dt class="col-3">Code d'invitation</dt>
    <dd class="col-9">{{ family.token }}</dd> 
    {% endfor %}
    <dt class="col-3">Liste des enfants</dt>
    {% for family in people.families %}
    {% for child in family.children %}
    <dd class="col-9"> {{ child }} </dd>
    {% endfor %}
    {% endfor %}

    <td><a href="{{path('people_edit')}}" class="btn btn-primary ">Modifier mes informations personnelles</a></td>
</dl>


	<div class="card-btn">
          {{ include('people/_delete_form.html.twig')}}
        </div>


{% endblock %}
