{% extends 'basedashboard.html.twig' %}

{% block title %}His Life
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap CSS CDN -->
	<link
	rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<!-- Scrollbar Custom CSS -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<!-- Our Custom CSS -->
	
	<link
	rel="stylesheet" href="../assets/css/dashboardstyle.css">

	<!-- icônes css.gg -->
	<link href='https://css.gg/css' rel='stylesheet'>

{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}


<div class="row">
    <h1>Bulletins de note</h1>
</div>

{# <div class="row">  #}

{# {% for grade in grades %}
<div class="desktop-container d-none d-lg-flex row">
    <div class="card col-5 border border-grey" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ grade.name }}</h5>
        <img src="{{asset(grade.file)}}" alt="">
        <a href="{{ path('movie_read_slug', {'slug': movie.slug}) }}" class="card-link">Voir la fiche</a>
    </div>
    </div>
{% endfor %}

</div> #}
<div>
	<a href="{{path('grade_add')}}" class="btn btn-primary">Ajouter un bulletin</a>
	<a href="{{path('school')}}" class="btn btn-primary">Retour</a>
</div>

{% for grade in grades %}
<div class="desktop-container d-none d-lg-flex row">
			<a href="{{path ('grade_read', {'id': grade.id})}}">
				<div class="card col-3 border border-grey" style="width: 18rem;">
				<h5 class="card-title">{{ grade.name }}</h5>
					<img src="{{asset(grade.file)}}" class="card-img-top" alt="...">
					<div class="card-body">
						
						{# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
						<div class="card-btn">
            				<a href="{{ path('grade_edit', {'id': grade.id}) }}" class="btn btn-primary">Modifier</a>
            				{{ include('grade/_delete_form.html.twig') }}
							</a>
        				</div>
					</div>
				</div>
{% endfor %}

{% endblock %}

