{% extends 'basedashboard.html.twig' %}


{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<section class="light-content our-team">


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Mots des Professeurs</h2>
						<a href="{{ path('note_add') }}" class="large-button green-color">Ajouter</a>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		{% for note in notes %}
			<div class="photo-card">

				<div class="photo-background" style="background-image:url('{{asset(note.file)}}'); ">
				</div>
				<div class="photo-details ">
					<h1 class="title">{{ note.name }}</h1>
					<span class="photo-author">{{note.createdAt|date('d-m-Y')}}</span>
					<p class="description-white">{{ note.description }}</p>
				</br>
				<div class="p-t-10">
					<a href="{{ path('note_edit', {'id': note.id}) }}" class="large-button-blanc white-color">
						<button class="large-button-blanc white-color" type="submit">Modifier</button>
					</a>


				</div>
			</div>

		</div>
	{% endfor %}


</section>

{% endblock %}








