{% extends 'basedashboard.html.twig' %}

{% block title %}Mot des professeurs{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<div class="row">
    <h1>Mots des professeurs</h1>
</div>



<div>
	<a href="{{path('note_add')}}" class="btn btn-primary">Ajouter un message du professeur</a>
	<a href="{{path('school')}}" class="btn btn-primary">Retour</a>
</div>

{% for note in notes %}
<a href="{{path ('note_read', {'id': note.id})}}">
    <div class="card col-3">
    <div class="card-body">
        <h5 class="card-title">{{ note.name }}</h5>
        <img src="{{asset(note.file)}}" alt="">
        {# <a href="{{ path('movie_read_slug', {'slug': movie.slug}) }}" class="card-link">Voir la fiche</a> #}
    </div>
    
 </a>  
    <div class="card-btn">
						<a href="{{path('note_edit', {'id': note.id})}}" class="btn btn-primary">Modifier</a>
						{{ include('note/_delete_form.html.twig')}}
	 			</div>
    </div>	 
</div>
{% endfor %}
{% endblock %}