
{% block title %}Détail du message {% endblock %}

{% block body %}
<div class="row">
    <h1>Mot des professeurs</h1>
</div>

<div class="row">


    <div class="card col-3">
    <div class="card-body">
        <h5 class="card-title">{{ note.name }}</h5>
        <img src="{{asset(note.file)}}" alt="">
        {# <a href="{{ path('movie_read_slug', {'slug': movie.slug}) }}" class="card-link">Voir la fiche</a> #}
    </div>
    </div>
    <div class="card-btn">
						<a href="{{path('note_edit', {'id': note.id})}}" class="btn btn-primary">Modifier</a>
						{{ include('note/_delete_form.html.twig')}}
	 			</div>

</div>
{% endblock %}