<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
		<title>
			{% block title %}His Life
			{% endblock %}
		</title>

		<link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../../assets/css/misc.css">
		<link rel="stylesheet" href="../../assets/css/blue-scheme.css">
		<link rel="stylesheet" href="../../assets/css/main.css" media="all">
		<link rel="stylesheet" href="../../assets/css/cards.css" media="all">
		<!-- JavaScripts -->
		<script src="../../assets/js/jquery-1.10.2.min.js"></script>
		<script src="../../assets/js/jquery-migrate-1.2.1.min.js"></script> 

		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="responsive_menu">
			<ul class="main_menu">
				<li>
					<a href="">Vie Scolaire</a>
					<ul>
						<li>
							<a href="{{path('note_browse')}}">Mots des Professeurs</a>
						</li>
						<li>
							<a href="{{path('grade_browse')}}">Bulletin de note</a>
						</li>
					</li>
				</li>
				<li>
					<a href="{{ path('healthbook_browse') }}">Santé</a>
				</li>
				<li>
					<a href="{{ path('picture')}}">Galerie photo</a>
				</li>
				<li>
					<a href="{{path('contact_browse')}}">Répertoire</a>
				</li>
				<li>
					<a href="{{ path('event_calendar') }}">Calendrier</a>
				</li>
				<li>
					<a href="{{ path('post_browse')}}">Message</a>
				</li>
				<li>
					<a href="">{{ app.user.firstname }}</a>
					<ul>
						{% if app.user %}
							<li>
								<a href="{{ path('people_profile')}}">Mon Profil</a>
							</li>
							<li>
								<a href="{{ path('child_profile')}}">Profil Enfant</a>
							</li>
							<li>
								<a href="{{ path('family_profile') }}">Famille</a>
							</li>
							
							<li>
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>
			<!-- /.main_menu -->
		</div>
		<!-- /.responsive_menu -->

		<header class="site-header clearfix">
			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<div class="pull-left logo">
							<a href="{{ path('dashboard') }}">
								<img src="../../assets/images/includes/logo.png" alt="">
							</a>
						</div>
						<!-- /.logo -->

						<div class="main-navigation pull-right">

							<nav class="main-nav visible-md visible-lg">
								<ul class="sf-menu">
									<li>
										<a href="">Vie Scolaire</a>
										<ul>
											<li>
												<a href="{{path('note_browse')}}">Mots des Professeurs</a>
											</li>
											<li>
												<a href="{{path('grade_browse')}}">Bulletin de note</a>
											</li>
										</li>
									</li>
								</ul>
								<li>
									<a href="{{ path('healthbook_browse') }}">Santé</a>
								</li>
								<li>
									<a href="{{ path('picture')}}">Galerie photo</a>
								</li>
								<li>
									<a href="{{path('contact_browse')}}">Répertoire</a>
								</li>
								<li>
									<a href="{{ path('event_calendar') }}">Calendrier</a>
								</li>
								<li>
									<a href="{{ path('post_browse')}}">Message</a>
								</li>
								<li>
									<a href="{{ path('people_profile')}}">{{ app.user.firstname }}</a>
									<ul>
										{% if app.user %}
											<li>
												<a href="{{ path('people_profile')}}">Mon Profil</a>
											</li>
											<li>
												<a href="{{ path('child_profile')}}">Profil Enfant</a>
											</li>
											<li>
												<a href="{{ path('family_profile') }}">Famille</a>
											</li>
											
											<li>
												<a href="{{ path('app_logout') }}">Déconnexion</a>
											</li>
										{% endif %}
									</ul>
								</li>
							</ul>
							<!-- /.sf-menu -->
						</nav>
						<!-- /.main-nav -->


						<!-- This one in here is responsive menu for tablet and mobiles -->
						<div class="responsive-navigation visible-sm visible-xs">
							<a href="#nogo" class="menu-toggle-btn">
								<i class="fa fa-bars"></i>
							</a>
						</div>
						<!-- /responsive_navigation -->

					</div>
					<!-- /.main-navigation -->

				</div>
				<!-- /.col-md-12 -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->
	</body>
</html></header><!-- /.site-header -->{% block body %}{% endblock %}<footer class="site-footer">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="footer-nav clearfix">
				<ul class="footer-menu">
					<li>
						<a href="index.html">A propos</a>
					</li>
					<li>
						<a href="portfolio.html">Nous contacter</a>
					</li>
					<li>
						<a href="blog.html">Mentions légales</a>
					</li>
				</ul>
				<!-- /.footer-menu -->
			</nav>
			<!-- /.footer-nav -->
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-12">
			<p class="copyright-text">Copyright &copy; HISLIFE
			</p>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container --></footer>

<script src="../../assets/js/min/plugins.min.js"></script>
<script src="../../assets/js/min/medigo-custom.min.js"></script>


<script src="../../assets/jsinsc/select2/select2.min.js"></script>
<script src="../../assets/jsinsc/datepicker/moment.min.js"></script>
<script src="../../assets/jsinsc/datepicker/daterangepicker.js"></script>

<script src="../../assets/js/global.js"></script> 
<!-- jQuery CDN - -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{#
				<!-- Popper.JS --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script><!-- Bootstrap JS --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script><!-- jQuery Custom Scroller CDN --><script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script><script var dropdown="document.querySelectorAll(" .dropdown");" var dropdownarray="Array.prototype.slice.call(dropdown, 0);" dropdownarray.foreach(function (el) { var button =" el.querySelector('a[data-toggle="dropdown"]'), menu = el.querySelector(".dropdown-menu"), arrow = button.querySelector("i.icon-arrow"); button.onclick = function (event) { if (!menu.hasClass("show")) { menu.classList.add("show"); menu.classList.remove("hide"); arrow.classList.add("open"); arrow.classList.remove("close"); event.preventDefault(); } else { menu.classList.remove("show"); menu.classList.add("hide"); arrow.classList.remove("open"); arrow.classList.add("close"); event.preventDefault(); } }; });" element.prototype.hasclass=" function" (classname) { return ( this.classname && new regexp(" (^|\\s)" + className + " (\\s|$)").test(this.className) ); };></script><script type=" text/javascript">$(document).ready(function () {
$("#sidebar").mCustomScrollbar({theme: "minimal"});

$('#dismiss, .overlay').on('click', function () {
$('#sidebar').removeClass('active');
$('.overlay').removeClass('active');
});

$('#sidebarCollapse').on('click', function () {
$('#sidebar').addClass('active');
$('.overlay').addClass('active');
$('.collapse.in').toggleClass('in');
$('a[aria-expanded=true]').attr('aria-expanded', 'false');
});
});</script> #}

<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function (e) {
console.log('coucou');
var idSelect = 0;
$.ajax({
url: '{{ path('ajax_action') }}',
type: "POST",
dataType: "json",
data: {
"idSelect": idSelect
},
async: true,
success: function test(data) {

{# SCHOOL BLOCK #} 
{# SCHOOL - LASTPOST = created_at #}

let selectedChildSchoolEvent_lastPost = document.getElementById('selectedChildSchoolEvent_lastPost');

if (data.lastSchoolEventArray.created_at !== undefined) {
selectedChildSchoolEvent_lastPost.textContent = data.lastSchoolEventArray.created_at.date;
} else {
selectedChildSchoolEvent_lastPost.textContent = ''
}

{# SCHOOL - NAME #}

let selectedChildSchoolEvent_name = document.getElementById('selectedChildSchoolEvent_name')
selectedChildSchoolEvent_name.textContent = data.lastSchoolEventArray.name

if (data.lastSchoolEventArray.name === undefined) {
selectedChildSchoolEvent_name.textContent = 'Aucun entrée dans vie scolaire'
}

{# SCHOOL - FILE #}
let selectedChildSchoolEvent_img = document.getElementById('selectedChildSchoolEvent_img');

if (data.lastSchoolEventArray.file !== undefined) {
let selectedChildSchoolEvent_img_src = selectedChildSchoolEvent_img.attributes[1];
selectedChildSchoolEvent_img_src.value = data.lastSchoolEventArray.file;
} else {
let selectedChildSchoolEvent_img_src = selectedChildSchoolEvent_img.attributes[1];
selectedChildSchoolEvent_img_src.value = '../assets/images/ecoleprimaire.jpg'
}


{# HEALTH - BLOCK #} 
{# HEALTH - LASPOST #}

let selectedChildHealthEvent = document.getElementById('selectedChildHealthEvent');

if (data.lastHealthbook.created_at !== undefined) {
selectedChildHealthEvent.textContent = data.lastHealthbook.created_at.date;
} else {
selectedChildHealthEvent.textContent = '';
}


{# HEALTH - NAME #}

let selectedChildHealthEvent_name = document.getElementById('selectedChildHealthEvent_name')
selectedChildHealthEvent_name.textContent = data.lastHealthbook.name

if (data.lastHealthbook.name === undefined) {
selectedChildHealthEvent_name.textContent = 'Aucune entrée dans Santé'
}

{# HEALTH - FILE #}

let selectedChildHealthEvent_img = document.getElementById('selectedChildHealthEvent_img');

if (data.lastHealthbook.file !== undefined) {
let selectedChildHealthEvent_img_src = selectedChildHealthEvent_img.attributes[1];
selectedChildHealthEvent_img_src.value = data.lastHealthbook.file;
} else {
let selectedChildHealthEvent_img_src = selectedChildHealthEvent_img.attributes[1];
selectedChildHealthEvent_img_src.value = '../assets/images/sante.jpg'
}

}
})});
</script>


<script type="text/javascript">
console.log('coucou');
	$('#selectType').on('change', function (e) {
var idSelect = e.currentTarget.value;
console.log(e);
$.ajax({
url: '{{ path('ajax_action') }}',
type: "POST",
dataType: "json",
data: {
"idSelect": idSelect
},
async: true,
success: function test(data) {

{# SCHOOL BLOCK #}
{# SCHOOL - LASTPOST = created_at #}

let selectedChildSchoolEvent_lastPost = document.getElementById('selectedChildSchoolEvent_lastPost');

if (data.lastSchoolEventArray.created_at !== undefined) {
selectedChildSchoolEvent_lastPost.textContent = data.lastSchoolEventArray.created_at.date;
} else {
selectedChildSchoolEvent_lastPost.textContent = ''
}

{# SCHOOL - NAME #}

let selectedChildSchoolEvent_name = document.getElementById('selectedChildSchoolEvent_name')
selectedChildSchoolEvent_name.textContent = data.lastSchoolEventArray.name

if (data.lastSchoolEventArray.name === undefined) {
selectedChildSchoolEvent_name.textContent = 'Aucun entrée dans vie scolaire'
}

{# SCHOOL - FILE #}
let selectedChildSchoolEvent_img = document.getElementById('selectedChildSchoolEvent_img');

if (data.lastSchoolEventArray.file !== undefined) {
let selectedChildSchoolEvent_img_src = selectedChildSchoolEvent_img.attributes[1];
selectedChildSchoolEvent_img_src.value = data.lastSchoolEventArray.file;
} else {
let selectedChildSchoolEvent_img_src = selectedChildSchoolEvent_img.attributes[1];
selectedChildSchoolEvent_img_src.value = '../../assets/images/ecoleprimaire.jpg'
}


{# HEALTH - BLOCK #} 
{# HEALTH - LASPOST #}

let selectedChildHealthEvent = document.getElementById('selectedChildHealthEvent');

if (data.lastHealthbook.created_at !== undefined) {
selectedChildHealthEvent.textContent = data.lastHealthbook.created_at.date;
} else {
selectedChildHealthEvent.textContent = '';
}


{# HEALTH - NAME #}

let selectedChildHealthEvent_name = document.getElementById('selectedChildHealthEvent_name')
selectedChildHealthEvent_name.textContent = data.lastHealthbook.name

if (data.lastHealthbook.name === undefined) {
selectedChildHealthEvent_name.textContent = 'Aucune entrée dans Santé'
}

{# HEALTH - FILE #}

let selectedChildHealthEvent_img = document.getElementById('selectedChildHealthEvent_img');

if (data.lastHealthbook.file !== undefined) {
let selectedChildHealthEvent_img_src = selectedChildHealthEvent_img.attributes[1];
selectedChildHealthEvent_img_src.value = data.lastHealthbook.file;
} else {
let selectedChildHealthEvent_img_src = selectedChildHealthEvent_img.attributes[1];
selectedChildHealthEvent_img_src.value = '../../assets/images/sante.jpg'
}


}
})});
</script>{% endblock %}
</body></html>
